

/* news-page specific cards adjustments */
.news-page-card {
    height: 15rem !important;
    
    width: 100% !important;
    
    padding: 0 0 !important;

    
    @media (min-width: 992px) {
        height: 21rem !important;
        
    }

    
    @media (max-width: 576px) {
        height: 20rem !important;
        
    }

        @media (min-width: 1400px) {
    
            .container,
            .container-lg,
            .container-md,
            .container-sm,
            .container-xl,
            .container-xxl {
                max-width: 80%;
            }
        }
}