<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row row-cols-1 g-0">
        <div class="col">
            <app-news-card *ngIf="newsArticles.length > 3" [article]="newsArticles[3]"></app-news-card>
            <app-news-card *ngIf="newsArticles.length > 3" [article]="newsArticles[3]"></app-news-card>
            <app-news-card *ngIf="newsArticles.length > 3" [article]="newsArticles[3]"></app-news-card>
            <app-news-card *ngIf="newsArticles.length > 3" [article]="newsArticles[3]"></app-news-card>
        </div>
    </div>
</div>