.currency-comparison-container {
    .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    height: 78%;
}
    .form-select {
        font-size: 1rem;
    }
    

    button {
        font-size: 1rem;
    }

    .spinner-border {
        margin-right: 10px;
    }

    @media (max-width: 767px) {
        .row {

            .col-md-5,
            .col-md-2 {
                margin-bottom: 15px;
            }

            .col-md-5 {
                max-width: 100%;
            }

            .col-md-2 {
                max-width: 100%;
            }
        }
    }
}

.my-5 {
    margin-top: 14% !important;
    margin-bottom: 3rem !important;
    height: 58%;
}