
@use "../../../styles/variables.scss" as *;
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
    font-size: 14px;
    span{
        text-decoration: underline;
        color: $secondary-color;
        text-align: end;
    }
    }
