.positive {
    color: green;
}

.negative {
    color: red;
}

.stock-page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.search-bar input {
    border-radius: 5px;
}

.search-bar button {
    border-radius: 5px;
    margin-left: 10px;
}

.stock-page-container[_ngcontent-ng-c883096707] {
    max-width: 80%;
    margin: 5% auto;
    height: 100%;
}

@media (min-width: 1200px) {

    .h1,
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}

.stock-page-container[_ngcontent-ng-c444709101] {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
    display: contents;
}

.stock-page-container[_ngcontent-ng-c1634756699] {
    max-width: 1200px;
    margin: 0 auto;
    height: 78%;
}