

//news card
.card-news {
    padding: 0rem;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        width: 41rem;
        height:  58rem;
        margin: 1rem 2rem;
        position: relative;
        left: 13rem;
        border-radius: 0px;
        .card-news:hover{
                transform: scale(1.05);
                /* Aumenta levemente o tamanho */
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);}
    }
        .new-card {
            height: 44rem !important;
        }

.cards-rigth {
            flex: 0 0 auto;
            width: 46rem;
            position: relative;
            right: 5rem;
            padding: 4rem 0rem;
        }