/* Ajusta o layout dos cards */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover */
.card:hover {
    transform: scale(1.05);
    /* Aumenta levemente o tamanho */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Adiciona uma sombra para dar profundidade */
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

/* Ajustes para os cards à esquerda */
.new-card {
    height: 44rem !important;
    /* Manter ajuste apenas onde necessário */
}

/* Ajustes para cards à direita */
.right-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-cards .card {
    margin-bottom: 20px;
}