<div class="container">
    <div class="row g-0">

        <!-- Left Card-news -->
        <div class="col-lg-6">
            <app-news-card class="card-home" *ngIf="newsArticles.length > 1" [article]="newsArticles[1]">
            </app-news-card>
        </div>

        <!-- Stock and currency card right  -->
        <div class="col-lg-6 d-flex flex-column">
            <!-- Stocks Card -->
            <div class="stocks-card mb-3">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-1 shadow-lg"
                    style="background-image: url('https://images.unsplash.com/photo-1444910958049-f45a1ac7ace5?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTA2fHxmbG93ZXJzfGVufDB8MHx8fDE2MjE1MDQwMjg&ixlib=rb-1.2.1&q=80&w=1080&h=76');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                        <p>Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
                        <ul class="list-unstyled mt-auto ms-auto">
                            <a class="btn btn-link btn-sm text-white" href="#" role="button">Read more</a>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Currency Card -->
            <div class="currency-card">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-1 shadow-lg"
                    style="background-image: url('https://images.unsplash.com/photo-1580133748682-099a97d17e6c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTV8fGplbGx5JTIwZmlzaHxlbnwwfDB8fHwxNjIxNTA0MDU1&ixlib=rb-1.2.1&q=80&w=1080&h=768');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                        <p>Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
                        <ul class="list-unstyled mt-auto ms-auto">
                            <a class="btn btn-link btn-sm text-white" href="#" role="button">Read more</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>