/* layout cards adjusts */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Card Effect */
.card:hover {
    transform: scale(1.05);
    /* gown the size*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Shadow added  */
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

/* Card left adjustment  */
.new-card {
    height: 44rem !important;
    /* Keeps cards adjustment wheres necessary*/
}

/* Card left adjustment */
.right-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right-cards .card {
    margin-bottom: 20px;
}

//cards container 
.container{
    max-width: 1353px;
    display: flex;
    height: 54rem;
}

//cards right 
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    margin: auto;
}