<div class="about container py-4">
    <div class="row">
        <div class="title col-md-4">
            <div class="lc-block">
                <div editable="rich">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
        <div class="paragraph col-md-4">
            <div class="lc-block">
                <div editable="rich">
                    <p> Welcome to Invest360, the ultimate solution for managing your investment journey! Our app provides a seamless,
                    user-friendly experience designed for individuals who want to take control of their financial future. Whether you're new
                    to investing or an experienced trader, we offer intuitive tools and resources to help you make informed decisions.
                    </p>
                    <p>At Invest360, we believe that everyone should have access to the tools needed to succeed in the financial world. Our
                    platform is built on a foundation of security, transparency, and efficiency, ensuring that your investment activities
                    are always safe and straightforward.</p>
                </div>
            </div>
        </div>
        <div class="image col-md-4">
            <div class="lc-block text-center">
                <img class="img-fluid"
                    src="https://cdn.livecanvas.com/media/svg/manypixels/looking_for_idea_with_team.svg" alt=""
                    loading="lazy">
            </div>
        </div>
    </div>
</div>
