.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover */
.card:hover {
    transform: scale(1.05);
    /* Aumenta levemente o tamanho */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Adiciona uma sombra para dar profundidade */
}
.new-card {
    padding: 3rem 0;
    margin: 2rem 0px;
    width: 100%; // Deixa o Bootstrap controlar a largura
    height: auto; // Ajusta a altura automaticamente
    border-radius: 0px;
    margin: 5rem 0px;

    // Regras específicas para telas grandes
    @media (min-width: 992px) {
        width: 41rem; // Redefine largura para telas grandes
        height: 58rem;
        
    }

    .new-card {
        height: 44rem !important; // Manter ajuste apenas onde necessário
    }
}
