.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* hover effect */
.card:hover {
    transform: scale(1.05);
    /* size grows gradually */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    /* Adds shadow */
}
.new-card {
    
    margin: 2rem 0;
    width: 95%; // allows Bootstrap controls the width 
    height: auto; // Automatically adjusts the heightness 
    border-radius: 0px;
    //margin: 5rem 0px;

    // Specific rules to big screens 
    @media (min-width: 992px) {
        width: 95%; 
        height: 58rem;
        
    }
        //for specific height components of a fixed height 
        &.fixed-height {
        height: 44rem !important; // Keeps the adjustment where is necessary 
    }
}

:host {
    width: auto;
    /* External style*/
    display: block;
    
}

.new-card {
    width: auto;
   
}

.card-left{
    height: 1rem;
}

.card-left.d-flex {
    height: 152px;
    display: flex !important;
}


// width: 93%;
// height: 130%;
// padding: 29px;
// margin: 0px;