
@import "../../../styles/variables.scss";
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
section{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
}
    .main-section{
        gap: 8px;

        flex-grow: 1;
        background-color:$bg-color;
        
    }

    .form-section{
        flex-grow: 0.3;
        padding: 0 35px;

        img{
            margin-bottom: 30px;
        }
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
    }
    .btn-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider{
                display: flex;
                font-size: 14px;
                color: $bg-color;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                gap: 20px;
                color: $bg-color;
                text-transform: uppercase;
                width: 100%;

                div{
                    flex-grow: 1;
                    height:2px;
                    background-color: $bg-color;
                    
                }
            }
            button{
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                box-shadow: 0px 8px 12px rgba(88, 87, 89, 0.2);
                cursor: pointer;

                &:disabled{
                    opacity: 0.5; //quando o botao estiver disabilitado
                }
        
                &.btn-primary {
                    background-color: $secondary-color;
                    color: white;
        
                }
                &.btn-secondary {
                    border: 1px solid $primary-color;
                    color: $primary-color;
        
                }
            }
        }
    }

}