/* error-image.component.css */
.not-found-page {
    margin: auto;
    max-width: 1082px;
    display: flex;
    align-items: center;
}
.not-found-content[_ngcontent-ng-c1694557018] {
    max-width: 100%;
    display: flex;
    align-items: baseline;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* styles.css */
.error404 {
    margin-right: 20px;
    /* Adjust the spacing as needed */
}

.not-found-content{
    max-width: 100%;
}

.text-not-found{
    width: 100%;
}