<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    
</head>


<body class="not-found-page">    
    <div class="not-found-content row row-cols-1 row-cols-lg-2 g-0 overflow-hidden">
        <div class="col">
            <div class="text-not-found lc-block">
                <h1>Oops! Page Not Found</h1>
                <p>Sorry, the page you're looking for doesn't exist.</p>
                <p>It might have been removed, renamed, or did not exist in the first place.</p>
                <a href="/home" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
        <div class="not-found-img col">
            <div class="lc-block">
                    <img src="/robot-404.svg" class="img-fluid" alt="Error Image">
            </div>
        </div>
    </div>

</body>